@import '~/assets/colors.scss';

.contactUs {
  display: flex;
  height: 700px;
  width: 100%;

  .content {
    display: flex;
    flex-direction: row;
    margin: 36px auto;
    max-width: 1080px;
    width: 100%;
    justify-content: space-between;

    @media (max-width: 1080px) {
      width: 910px;
    }

    @media (max-width: 900px) {
      flex-direction: column;
      margin: 36px;
    }

    @media (max-width: 450px) {
      width: 768px;
    }

    .column {
      width: 500px;

      @media (max-width: 1080px) {
        width: 420px;
      }

      @media (max-width: 900px) {
        width: 100%;
      }
    }

    .texts {
      .headline {
        color: #978A38;
        display: flex;
        flex-direction: column;
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 36px;
      }

      .storeDetails {
        .section {
          margin-bottom: 30px;
          padding-bottom: 30px;
  
          &:not(:last-child) { 
            border-bottom: 4px solid $primary-color;
          }
  
          .header {
            font-size: 28px;
            font-weight: 750;
          }
  
          .body {
            color: $dark-text-color;
            font-size: 20px;
            margin-top: 12px;
            
            p {
              margin-bottom: 4px;
            }
          }
        }
      }
    }

    .mapContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      @media (max-width: 900px) {
        padding-bottom: 36px;
      }
    }
  }
}
