$primary-color: #96983C;
$primary-color--light: #E2E08A;
$primary-color--dark--1: #978A38;
$primary-color--dark--2: #5a5012;

$secondary-color: #8C0098;
$secondary-color--dark: #3A003F;

$dark-text-color: #525252;
$dark-background-color: #363636;

$black: #282928;
$white: #FFFFFF;
$off-white: #F2F2F2;
