* {
  box-sizing: border-box;
  margin: 0;
}

.nightBreeze {
    font-family: 'Segoe UI', 'Source Sans Pro', -apple-system,
    BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, sans-serif;
}

button {
    cursor: pointer;
    font-family: 'Segoe UI', 'Source Sans Pro', -apple-system,
        BlinkMacSystemFont, Roboto, 'Helvetica Neue', Arial, sans-serif;
    
    &:focus {
        outline: none;
    }
}