@import './colors.scss';

.container {
  align-items: center;
  display: flex;
  background-image: url('../assets/images/HomepageHeroBackground.png');
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Segoe UI', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
     Roboto, 'Helvetica Neue', Arial, sans-serif !important;
  height: 720px;
  width: 100%;

  .content {
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;

    &-inner {
      align-items: center;
      display: flex;
      flex-direction: column;
      min-height: 560px;
      width: 50%;

      .logo {
        width: 400px;
        margin-bottom: 10px;
      }

      .header {
        font-family: 'Georgia', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
          'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        font-size: 54px;
        color: $dark-text-color;
      }

      .subheader {
        font-family: 'Georgia', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
          'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        font-size: 32px;
        color: $dark-text-color;
        margin-bottom: 30px;
      }
      
      .slogan {
        font-weight: 500;
        font-size: 20px;
        color: $dark-text-color;
        margin-bottom: 30px;
      }
      
      .book-cta {
        background-color: $primary-color;
        border: none;
        border-radius: 12px;
        color: $light-text-color;
        font-size: 16px;
        font-family: 'Segoe UI', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
        Roboto, 'Helvetica Neue', Arial, sans-serif !important;
        font-weight: 500;
        padding: 12px 20px;
      }
    
      @media (max-width: 1280px) {
        .logo {
          width: 280px;
          margin-bottom: 8px;
        }
  
        .header {
          font-size: 46px;
        }
  
        .subheader {
          font-size: 24px;
          margin-bottom: 24px;
        }
        
        .slogan {
          font-size: 15px;
          margin-bottom: 24px;
        }
      }

      @media (max-width: 1024px) {
        .logo {
          width: 210px;
          margin-bottom: 6px;
        }
  
        .header {
          font-size: 34px;
        }
  
        .subheader {
          font-size: 18px;
          margin-bottom: 18px;
        }
        
        .slogan {
          font-size: 12px;
          margin-bottom: 18px;
        }
        
        .book-cta {
          border-radius: 9px;
          font-size: 12px;
          padding: 9px 15px;
        }
      }
    }
  }

  @media (max-width: 450px) {
    background-image: url('../assets/images/mobile/HomepageHeroBackground.png');

    .content {
      display: flex;
      flex-direction: column;
  
      &-inner {
        min-height: 480px;
        width: 100%;

        .logo {
          width: 240px;
          margin-bottom: 8px;
        }

        .header {
          font-size: 40px;
        }

        .subheader {
          font-size: 24px;
          margin-bottom: 24px;
        }
        
        .slogan {
          font-size: 18px;
          margin-bottom: 80px;
        }
        
        .book-cta {
          border-radius: 12px;
          font-size: 20px;
          padding: 16px 20px;
        }
      }
    }
  }
}
  