@import '~/assets/colors.scss';

.description {
    color: $white;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    justify-content: center;

    .mainContentContainer {
        background-image: url('../../assets/images/HomepageDescriptionBackground.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        grid-column: 1 / 13;
        grid-row: 1 / 13;

        .mainContent {
            align-items: center;
            display: grid;
            grid-template: repeat(12, 1fr) / repeat(12, 1fr);
            justify-items: center;
            margin: 0 auto;
            max-width: 1176px;
            height: 700px;

            .headline {
                font-size: 64px;
                font-weight: 600;
                grid-column: 1 / 13;
                grid-row: 3 / 4;
                text-align: center;

                @media (max-width: 900px) {
                    font-size: 52px;
                }

                @media (max-width: 450px) {
                    font-size: 40px;
                }

                .highlightedText {
                    color: $primary-color--light;
                    font-family: 'Segoe Script';
                }
            }

            .body {
                font-size: 30px;
                grid-column: 1 / 13;
                grid-row: 6 / 9;
                line-height: 1.5;
                text-align: center;

                @media (max-width: 900px) {
                    font-size: 24px;
                    grid-column: 2 / 12;
                }

                @media (max-width: 450px) {
                    font-size: 20px;
                }
            }
        }
    }
}
