@import '~/assets/colors.scss';

.promoBanner {
    background-color: $primary-color--dark--1;
    color: $white;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    justify-content: center;
    height: 300px;

    .mainContentContainer {
        grid-column: 1 / 13;
        grid-row: 1 / 9;

        .mainContent {
            align-items: center;
            display: grid;
            grid-template: repeat(12, 1fr) / repeat(12, 1fr);
            justify-items: center;
            margin: 0 auto;
            max-width: 1176px;
            height: 376px;

            .headlineContainer {
                border-bottom: solid 3px $primary-color--dark--2;
                grid-column: 1 / 13;
                grid-row: 2 / 3;

                .headline {
                    font-size: 60px;
                    font-weight: 650;
                    padding: 0 36px 0 36px;

                    @media (max-width: 900px) {
                        font-size: 52px;
                    }

                    @media (max-width: 450px) {
                        font-size: 40px;
                    }
                }
                
                .date {
                    font-size: 24px;
                    font-weight: 600;
                    text-align: center;
                    padding-bottom: 10px;
                }
            }

            .details {
                grid-column: 1 / 8;
                grid-row: 3 / 8;
                width: 100%;
                text-align: right;

                .slogan {
                    font-size: 20px;
                    padding-bottom: 10px;
                }

                .seePackagesBtn {
                    background-color: $secondary-color;
                    border: none;
                    border-radius: 12px;
                    color: $white;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 12px 20px;
                    text-align: center;
    
                    @media (max-width: 900px) {
                        border-radius: 9px;
                        font-size: 14px;
                        grid-row: 10 / 12;
                        padding: 9px 15px;
                    }
    
                    @media (max-width: 480px) {
                        border-radius: 12px;
                        font-size: 20px;
                        padding: 16px 20px;
                        grid-row: 8 / 11;
                    }
                }
            }

            .price {
                border: solid 2px $white;
                margin-right: auto;
                text-align: left;
                grid-column: 8 / 13;
                grid-row: 3 / 8;
                margin-left: 16px;

                .priceNumber {
                    font-size: 54px;
                    font-weight: 700;
                    line-height: 70px;
                    padding: 0 10px;
                }

                .priceCurrency {
                    font-size: 20px;
                    font-weight: normal;
                    padding-left: 4px;
                    text-align: right;
                    width: 100% !important;
                }
            }
        }
    }
}
